:root {
  --main-bg-color: #98C1D9;/* Background color */
  --main-ft-color: #293241;/* Font color */
  --main-bt-color: #EE6C4D;/* Button color */
}

:root {
  --main-bg-color: #70A0AF;/* Background color */
  --main-ft-color: #331E38;/* Font color */
  --main-bt-color: #706993;/* Button color */
}

:root {
  --main-bg-color: #F2D492;/* Background color */
  --main-ft-color: #283845;/* Font color */
  --main-bt-color: #F29559;/* Button color */
  --main-in-bg-color: white;/* Input background color */
}

:root {
  --main-bg-color: #F2D492;/* Background color */
  --main-ft-color: #283845;/* Font color */
  --main-bt-color: #F29559;/* Button color */
}

.list-group{
    max-height: 200px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}


.center {
  text-align: center;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--main-ft-color); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 15px;
  color: var(--main-ft-color);
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  background-color: var(--main-bt-color);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #f1f1f1;
  background-color: none;
}

.sidenav .closebtn:hover {
  background-color: var(--main-ft-color);
  color: #CCCCCC;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



body {background-color: var(--main-bg-color);}



h1 {
  color : var(--main-ft-color);
}

.inputs {
	width : 50%;
}


.render {
	font-size: 50px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: var(--main-bt-color) !important;
}

.btn{
    color: white;
    border-color: var(--main-bt-color);
}

.btn:hover{
    color: var(--main-ft-color);
    border-color: var(--main-bt-color);
}

.maindiv{
  padding-left: 10%;
  padding-right: 10%;
}

.subDiv{
  padding-left: 30%;
  padding-right: 30%;
}

label{
  color : var(--main-ft-color);
}








