<!DOCTYPE html>
<html lang="en">
<head>
  <title>Partyfy home page</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../static/styles/home.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/home.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body onload="loadUpdate()">


<button class="btn right" onclick="window.location.href='logout';" type="button">logout</button>

<div class="col-12">
<h1 class="center" >Welcome to Partyfy !</h1>
</div>
<div class="row">
  <div class="col-3">
     
  </div>

  <div class="col-6 center">

		<h2 class="render" id="render_text">Create inputs !</h2>
    <div class="aside center">
      <nav>
     <dl class="invPartyList" id="invPartyList">
     </dl>
    </nav>
    </div>

    <br>
    <br>

    <h2 class="render" id="render_text">Manage your parties:</h2>
    <div>
    <button style="visibility:hidden;">This is cheating but tell no one please</button><button class="btn newParty_btn center" type="button" onclick="window.location.href='partyCreator';">Create a new Party</button>
    </div>
    <div class="aside center">
      <nav>
     <dl class="partyList" id="partyList">
     </dl>
     </nav>
    </div>



  </div>

  <div class="col-3 right">
    
  </div>
</div>




<script>
var parties = ["New Year","Birthday","Esaip","Casual"]
var partiesId = [1,2,3,4]
var partiesInputCount = [80, 50, 120, 123];


function loadUpdate(){
  getParties();
  getInvitedParties();
}

function updatePartyList(data){
  var dl = document.getElementById("partyList");
  while (dl.firstChild) {
    dl.removeChild(dl.firstChild);
  }
  for (i = 0; i < data["json_list"].length; i++) { 
    var dt = document.createElement("dt"); 
    dt.classList.add('party');
    //dt.innerHTML = data["json_list"][i]["title"] + ": " + data["json_list"][i]["id"] ;
    text =  data["json_list"][i]["title"] ;//+ ": " + data["json_list"][i]["id"] ;
    createSpan(dt,text)
    createEditButton(dt,data["json_list"][i]["token"], "edit")
    createShareButton(dt,data["json_list"][i]["token"], "share")

    dl.appendChild(dt);
  } 
}

function updateInvPartyList(data){
  var dl = document.getElementById("invPartyList");
  while (dl.firstChild) {
    dl.removeChild(dl.firstChild);
  }
  for (i = 0; i < data["json_list"].length; i++) { 
    var dt = document.createElement("dt"); 
    dt.classList.add('party');
    //dt.innerHTML = data["json_list"][i]["title"] + ": " + data["json_list"][i]["id"] ;
    text =  data["json_list"][i]["title"] ;//+ ": " + data["json_list"][i]["id"] ;
    createSpan(dt,text)
    createAddInputButton(dt,data["json_list"][i]["token"], "add input")
    dl.appendChild(dt);
  } 
}

function createSpan(context, value) {
    var button = document.createElement("span");
    button.innerHTML = value;
    button.classList.add('input');
    button.classList.add('left');
    context.appendChild(button);
}

function createAddInputButton(context, func, value) {
    var button = document.createElement("input");
    button.type = "button";
    button.value = value;
    button.onclick = function() { window.location.href = 'inputEditor?partyToken=' + func; };
    button.classList.add('btn');
    button.classList.add('input_btn');
    context.appendChild(button);
}

function createEditButton(context, func, value) {
    var button = document.createElement("input");
    button.type = "button";
    button.value = value;
    button.onclick = function() { window.location.href = 'partyCreator?partyToken=' + func; };
    button.classList.add('btn');
    button.classList.add('input_btn');
    context.appendChild(button);
}

function createShareButton(context, func, value) {
    var button = document.createElement("input");
    button.type = "button";
    button.value = value;
    button.onclick = function() { share(func); };
    button.classList.add('btn');
    button.classList.add('input_btn');
    button.classList.add('right');
    context.appendChild(button);
}


function edit(partyId){
  alert("Edit the party: " + partyId);
}


 
function getParties(){
  var xhttp;
  xhttp = new XMLHttpRequest();

  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      updatePartyList(JSON.parse(this.responseText));
    }
  };
  xhttp.open("POST", "partyList", true);
  xhttp.send();
}

function getInvitedParties(){
  var xhttp;
  xhttp = new XMLHttpRequest();

  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      updateInvPartyList(JSON.parse(this.responseText));
    }
  };
  xhttp.open("POST", "invPartyList", true);
  xhttp.send();
}

function share(token){
  link = "http://localhost:8000/login?token=" + token;
  prompt('Press Ctrl + C, then Enter to copy to clipboard',link);
}

</script>

</body>
</html>

