<!DOCTYPE html>
<html lang="en">
<head>
  <title>Partyfy input editor</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../static/styles/input.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body onload="loadUpdate()">
  <button class="btn right" onclick="window.location.href='logout';" type="button">logout</button>
  <button class="btn right" onclick="window.location.href='/';" type="button">home</button>
  <div class="col-12">
    <h1 class="center" >New Year party !</h1>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-6 center">
     <h2 >Your inputs</h2>
     <div class="aside center">
      <nav>
       <dl class="inputList" id="inputList">
       </dl>
     </nav>
   </div>
 </div>
 
 <div class="col-6 center">

  <h2 >Create new input</h2>
  <input type="text" id="input_title" name="input_title" placeholder="Title">
  <br><br>
  <div class="center_flex">
    <div class="select">
      <label for="sel1">Input type:</label>
      <br>
      <select class="form-control" id="sel2">
      </select>
    </div>
    <br>
    <div class="select">
     <label for="sel1">Number of random players:</label>
     <br>
     <select class="form-control" id="sel1">
     </select>
   </div>
 </div>
 <br><br>
 <input type="text" id="input_text" name="input_title" onkeyup="updateRender()" placeholder="Input content">
 <br><br>
 <button onclick="addRandomAnchor()" type="submit" class="btn">Add anchor</button><button class="btn" type="button" onclick="getInput(-1)">Clear</button>
 <br>
 <br>
 <button class="btn btn_save" type="button" onclick="saveInput()"><i class="fa fa-floppy-o" aria-hidden="true"></i></i></button>
 <button class="btn center delete_btn" id="delete_btn" type="button" onclick="deleteInput()"><i class="fa fa-trash-o" aria-hidden="true"></i></button>

</div>
</div>


<div class="row">
  <div class="col-6 center">
   <h2 >What the input will look like:</h2>
   <button onclick="tts()" type="submit" class="btn"><i class="fa fa-volume-up" aria-hidden="true"></i></button>
   <h1 class="render" id="render_text">...</h1>
  </div>
  <div class="col-6 center">
    <div class="aside">
      <h2>Example of nice Input</h2>
      <p>[players] do a great picture to save this moment.</p>
      <h2>An other none ?</h2>
      <p>If you've already frauded the metro, drink 2 sips</p>
      <h2>Lastly</h2>
      <p>Don't forget to thanks your hosts and the dev of this game (it took a lot of effort).</p>
    </div>
  </div>

  
</div>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="{{ url_for('static',filename='scripts/login.js') }}"></script>
<script>

  var players;

  var partyToken = "";
  var inputList = [];

  $.urlParam = function(name){
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (results==null) {
     return null;
   }
   return decodeURI(results[1]) || 0;
 }


 function loadUpdate(){
   updatePlayerNumber();

   partyToken = $.urlParam('partyToken');
   getInputTypes();
   getInputList();
   getPlayers();
 }

 function getInputList(){
  $.post("/api/getInputList",{"token":partyToken},function(response){
    console.log(response);
    inputList = response["input_list"];
    updateNavBar();
  });
}

function updatePlayerNumber(){
	var select = document.getElementById("sel1");
	for (i = 0; i < 11; i++) {
   var option = document.createElement("option");
   option.text = i;
   select.add(option);
 }
}

function getInputTypes(){
  $.post("/api/getTypes",{ "partyToken": partyToken },function(response){
    console.log(response);
    updateTypesList(response["types"]);
  });
}

function updateTypesList(data){
  var select = document.getElementById("sel2");
  for (i = 0; i < data.length; i++) {
    var option = document.createElement("option");
    option.text = data[i].name;
    option.name = data[i].name;
    option.value = data[i].id;
    select.add(option);
  }
}


function getPlayers(){
    $.post("/api/getPlayers",{"partyToken":partyToken },function(response){
      console.log(response);
      players = response["players"];
    });
  }


function saveInput(){
  if(document.getElementById("input_title").value ===""){
    alert("Enter a title");
    return;
  }
  if(document.getElementById("input_text").value ===""){
    alert("Enter content");
    return;
  }

  var select = document.getElementById("sel2");
  if(select.options[select.selectedIndex].value ===""){
    alert("Choose an input type");
    return;
  }

  var title = document.getElementById("input_title").value;
  var token = partyToken;
  var select = document.getElementById("sel2");
  var type_id = select.options[select.selectedIndex].value;
  var select = document.getElementById("sel1");
  var random_target = select.options[select.selectedIndex].value;
  var content  = document.getElementById("input_text").value;

  isUpdate = isAnUpdate;
  input_id = currentInputID;
  data = {"title": title, "token":token, "type_id":type_id, "random_target":random_target, "content": content, "isUpdate" : isUpdate, "inputId" : input_id}
  $.post("/api/saveInput",data,function(response){
    console.log(response);
    updateInputList(response);
  });
}



function updateNavBar(){
  //var navbar = document.getElementById("navDiv");
  var navbar = document.getElementById("inputList");
  while (navbar.firstChild) {
    navbar.removeChild(navbar.firstChild);
  }

  for(i = 0; i < inputList.length; i++){
    addInputToNavBar(inputList[i]["title"],inputList[i]["id"],inputList[i]["id"]);
  }
}

function addInputToNavBar(name,onclickValue,id){
  //var navbar = document.getElementById("navDiv");
  var navbar = document.getElementById("inputList");
  var a = document.createElement("dt");
  a.innerHTML = name;
  a.id = "id_" + id;
  a.onclick = function(){
    getInput(onclickValue);
  };
  navbar.appendChild(a);
}


function updateInputList(response){
  for(i = 0; i < inputList.length; i++){
    if(inputList[i]["id"]===response["id"]){
      inputList[i] = response;
    }
  }
  if(isAnUpdate==="False")inputList.push(response);
  getInput(-1);
}


var currentInputID = -1;
var isAnUpdate = "False";
function getInput(id){
  if(id == -1){//reset values for new
    currentInputID = -1;
    isAnUpdate = "False";
    document.getElementById("input_title").value = "";
    document.getElementById("input_text").value = "";
    document.getElementById("delete_btn").style.transitionDuration = "0s";
    document.getElementById("delete_btn").style.visibility = "hidden";
  }
  else{//input Modification
    for(i = 0; i < inputList.length; i++){
      if(inputList[i]["id"]===id){
        updateFields(inputList[i]);
      }
    }
    document.getElementById("delete_btn").style.visibility = "visible";
    document.getElementById("delete_btn").style.transitionDuration = " 0.5s";
    currentInputID = id;
    isAnUpdate = "True";
  }
  updateNavBar();
  updateRender();
}

function deleteInput(){
  var r = confirm("Are you sure to DELETE Input ?");
  if(!r){
    return;
  }
  for(i = 0; i < inputList.length; i++){
    if(inputList[i]["id"]===currentInputID){
      inputList.splice(i, 1);
    }
  }
  $.post("/api/removeInput",{"input_id":currentInputID},function(response){
    console.log(response);
    getInput(-1);
  });
}


function updateFields(data){
  document.getElementById("input_title").value = data["title"];
  document.getElementById("input_text").value = data["content"];
  $('#sel1').val(data["random_target"]);
  $('#sel2').val(data["type_id"]);
  updateRender();
}


function tts() {
  var msg = new SpeechSynthesisUtterance();
  msg.text = document.getElementById("render_text").textContent;
  window.speechSynthesis.speak(msg);
}



function updateRender(){
	var input_text = document.getElementById("input_text").value;
	if(input_text.includes("[players]")){
		var select = document.getElementById("sel1");
    var numPlayers = select.options[select.selectedIndex].value;
    if(numPlayers > players.length){
      numPlayers = players.length;
    }
		if(numPlayers < 1) alert("Please select the number of players");
		var subPlayers = players.slice();
		var outputText = "";
		for (var i = 1; i <= numPlayers; i++) {
			var random = Math.floor(Math.random() * subPlayers.length);
			if(i == 1)outputText += subPlayers[random]["username"];
			else if(i == numPlayers) outputText += " et " + subPlayers[random]["username"];
			else outputText += ", " + subPlayers[random]["username"];

			subPlayers.splice(random, 1);
		}
		var str = document.getElementById("input_text").value
		document.getElementById("render_text").textContent = str.replace("[players]", outputText);
	}
	else {
		document.getElementById("render_text").textContent = document.getElementById("input_text").value;
	}	
}

function addRandomAnchor(){
	document.getElementById("input_text").value = document.getElementById("input_text").value + "[players]";
}

</script>

</body>
</html>

