<!DOCTYPE html>
<html lang="en">
<head>
  <title>Partyfy home page</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="../static/styles/password.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/password.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  

</head>
<body >


  <button class="btn right" onclick="window.location.href='login';" type="button">login</button>

  <div class="col-12">
    <h1 class="center" >Change password</h1>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="col-1">

    </div>

    <div class="col-10 center">
      <input type="text" id="email_input" name="email_input" placeholder="email">
      <br>
      <button class="btn center" type="button" onclick="getNewPass();">Send new password via Email</button>
      <br>
      <br>
      <br>
      <input type="password" id="old_pass" name="old_pass" placeholder="old password">
      <br>
      <input type="password" id="new_pass" name="new_pass" placeholder="new password">
      <br>
      <button class="btn center" type="button" onclick="changePass();">Set new password</button>
   </div>

   <div class="col-1 right">

   </div>
 </div>


 <script>
 function getNewPass(){
   email = document.getElementById("email_input").value;
  $.post("/getNewPass",{"email":email },function(response){
      console.log(response);
      alert(response);
    });
 }

 function changePass(){
    email = document.getElementById("email_input").value;
   oldPass =  document.getElementById("old_pass").value;
   newPass =  document.getElementById("new_pass").value;
  $.post("/changePass",{"email":email, "oldPass":oldPass , "newPass":newPass},function(response){
      console.log(response);
      alert(response);
    });
 }
</script>

</body>
</html>

