<!DOCTYPE html>
<html lang="en">
<head>
  <title>Partyfy home page</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../static/styles/party.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/party.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  

</head>
<body onload="loadUpdate()">


  <button class="btn right" onclick="window.location.href='logout';" type="button">logout</button>
  <button class="btn right" onclick="window.location.href='/';" type="button">home</button>

  <div class="col-12">
    <h1 class="center" >Party creation</h1>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="col-1">

    </div>

    <div class="col-10 center">
      <input type="text" id="party_name" name="party_name" placeholder="Party name">
      <h2>Add Input types :</h2>
      <input type="text" id="input_name" class="input_name" name="-1" placeholder="Name">
      <input type="text" id="input_url" class="input_url" name="" placeholder="url (optional)">
      <a class="addButton" onclick="addType()"> + </a>
      <br>
      <div class="aside center">
        <nav>
         <dl class="inputTypeList" id="inputTypeList">
         </dl>
       </nav>
     </div>
     <br>
     <button class="btn center" type="button" onclick="saveParty()">save the Party</button>
     <br>
     <br>
     <button class="btn center delete_btn" id="delete_btn" type="button" onclick="deleteParty()">Delete</button>
   </div>

   <div class="col-1 right">

   </div>
 </div>


 <script>
  var partyId = -1;
  var partyToken = -1;

  var Party;
  var inputTypeList;

  function loadUpdate(){
    checkvars();

  }


  function checkvars(){
    partyToken = getUrlVars()["partyToken"];
    if(partyToken){
      getPartyInfo(partyToken);
      document.getElementById("delete_btn").style.visibility = "visible";
    }
    else{
      getNewPartyInfo();
    }
  }

  function getPartyInfo(token){
    $.post("/api/getPartyInfo",{ "token": token },function(response){
      partyId = response["party"][0]["id"];
      updatePartyInfo(response);
      console.log(response);
    });
  }


  function getNewPartyInfo(){
    $.post("/api/createParty",{ "title": "" },function(response){
      partyId = response["party"][0]["id"];
      updatePartyInfo(response);
      console.log(response);
    });
  }

  function updatePartyInfo(response){
    document.getElementById("party_name").value = response["party"][0]["title"];
    inputTypeList = response["inputTypes"];
    updateHTML();
  }

  function updateHTML(){
    var htmlList = document.getElementById("inputTypeList");
    while (htmlList.firstChild) {
      htmlList.removeChild(htmlList.firstChild);
    }
    for(i = 0; i < inputTypeList.length; i++){
      name = inputTypeList[i]["name"];
      url = inputTypeList[i]["url"];
      id = inputTypeList[i]["id"];
      makeType(id, name, url);
    }
  }

  function makeType(id, name, url){
    var dl = document.getElementById("inputTypeList");
    var dt = document.createElement("dt"); 
    dt.classList.add('inputType');
    dt.innerHTML = "<a class='inputTypeInfo inputTypeName' >" + name + "</a>" + " - " + "<a class='inputTypeInfo inputTypeUrl' >"+ url + "</a>";
    dt.innerHTML += "<a class='removeInputType' onclick='removeInputType(" + id + ")'> &times; </a><i class='fa fa-edit editInputType' onclick='editType(" + id +")'></i>";
    dl.appendChild(dt);
  }

  function saveParty(){
    if(!document.getElementById("party_name").value){
      alert("Name your party !");
      return;
    }
    if(document.getElementById("party_name").value.length>15){
      alert("The Party name has to be less than 15 character long.");
      return;
    }
    var title = document.getElementById("party_name").value;

    $.post("/api/updateParty",{ "title": title, "id": partyId},function(response){
      console.log(response);
      window.location.href = response
    });
  }


  function removeInputType(id){
    for(i = 0; i < inputTypeList.length; i++){
      if(inputTypeList[i]["id"]===id){
        inputTypeList.splice(i, 1);
      }
    }
    $.post("/api/removeInputType",{ "id": id, "party_id":partyId},function(response){
      console.log(response);
    });
    updateHTML();
  }

  function editType(id){
    for(i = 0; i < inputTypeList.length; i++){
      if(inputTypeList[i]["id"]===id){
        document.getElementById("input_name").value = inputTypeList[i]["name"];
        document.getElementById("input_name").name = id;
        document.getElementById("input_url").value = inputTypeList[i]["url"];
        inputTypeList.splice(i, 1);
      }
    }
    updateHTML();
  }

  function addType(){
    var name = document.getElementById("input_name").value;
    if(name === ""){
      alert("Please enter at least a Type Name");
      return;
    }
    var id = Number(document.getElementById("input_name").name);
    var url = document.getElementById("input_url").value;
    $.post("/api/addInputType",{ "name": name, "url":url, "id":id, "party_id":partyId },function(response){
      console.log(response);
      addTypeToDB(response);
    });


    document.getElementById("input_name").value = "";
    document.getElementById("input_name").name = "-1";
    document.getElementById("input_url").value = "";
  }


  function addTypeToDB(response){
    var id = response["id"];
    var isUpdate = false;
    for(i = 0; i < inputTypeList.length; i++){
      if(inputTypeList[i]["id"]===id){
        inputTypeList[i] = response;
        isUpdate = true;
      }
    }
    if(!isUpdate)inputTypeList.push(response);
    updateHTML();

  }


  function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
      vars[key] = value;
    });
    return vars;
  }

function deleteParty(){
  var r = confirm("Are you sure you want to DELETE this party?");
  if(!r){
    return;
  }
  sendDeleteParty(partyId);
}

function sendDeleteParty(partyId){
  $.post("/api/removeParty",{ "id": partyId, "token":partyToken},function(response){
      console.log(response);
      window.location.href='/';
  });
}

</script>

</body>
</html>

