<!DOCTYPE html>
<html lang="en">
<head>
  <title>Partyfy home page</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../static/styles/party.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/party.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  

</head>
<body onload="loadUpdate()">


<button class="btn right" onclick="window.location.href='logout';" type="button">logout</button>
<button class="btn right" onclick="window.location.href='/';" type="button">home</button>

<div class="col-12">
<h1 class="center" >Party creation:</h1>
</div>
<br>
<br>
<br>


<div class="row">
  <div class="col-1">
     
  </div>

  <div class="col-10 center">
    <input type="text" id="party_name" name="party_name" placeholder="Party name">
    <h2>Add Input types :</h2>
    <input type="text" id="input_name" class="input_name" name="input_name" placeholder="Name">
    <input type="text" id="input_url" class="input_url" name="input_url" placeholder="url (optional)">
    <a class="addButton" onclick="addType()"> + </a>
    <br>
    <div class="aside center">
      <nav>
     <dl class="inputTypeList" id="inputTypeList">
     </dl>
   </nav>
    </div>
    <br>
    <button class="btn center" type="button" onclick="saveParty()">save the Party</button>
    <br>
    <br>
    <button class="btn center delete_btn" id="delete_btn" type="button" onclick="deleteParty()">Delete</button>
  </div>

  <div class="col-1 right">
    
  </div>
</div>


<script>
var isUpdate = false;
var partyId = -1;

function addType(){
  var name = document.getElementById("input_name").value;
  var url = document.getElementById("input_url").value;

  makeType(name, url);

  document.getElementById("input_name").value = "";
  document.getElementById("input_url").value = "";
}

function makeType(name, url){
  var dl = document.getElementById("inputTypeList");
  var dt = document.createElement("dt"); 
  dt.classList.add('inputType');
  dt.innerHTML = "<a class='inputTypeInfo inputTypeName' >" + name + "</a>" + " - " + "<a class='inputTypeInfo inputTypeUrl' >"+ url + "</a>";
  dt.innerHTML += "<a class='removeInputType' onclick='removeInputType(this)'> &times; </a><i class='fa fa-edit editInputType' onclick='editType(this)'></i>";
  dl.appendChild(dt);
}

function saveParty(){
  if(!document.getElementById("party_name").value){
    alert("Name your party !");
    return;
  }
  if(document.getElementById("party_name").value.length>15){
    alert("The Party name has to be less than 15 character long.");
    return;
  } 
  var content = getTypes();

  $.ajax({
    data : JSON.stringify(content),
    url: "/partyCreator",
    contentType : 'application/json',
    type : 'POST',
    success: function(msg){
        console.log(msg);
        window.location.href = msg;
    }
  });
}

function deleteParty(){
  var r = confirm("Are you sure to remove Party n°"+ partyId + " ?");
  if(!r){
    return;
  }
  sendDeleteParty(partyId);
}

function sendDeleteParty(partyId){
  var xhttp;
  xhttp = new XMLHttpRequest();

  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      window.location.href='/';
    }
  };
  xhttp.open("POST", "removeParty", true);
  xhttp.send(partyId);
}

function getTypes2(){
  var output = '{"partyTitle":"';
  output += document.getElementById("party_name").value + '","inputTypes":[';
  var names = document.getElementsByClassName("inputTypeName");
  var urls = document.getElementsByClassName("inputTypeUrl");
  for (var i = 0; i < names.length; i+=1) {
    output += '{"typeName":"' + names[i].innerHTML + '","url":"' + urls[i].innerHTML + '"}'
    if(i+1 < names.length)output += ',';
  }
  output += '],"isUpdate":"';
  if(isUpdate)output += 'True","id":';
  else output += 'False","id":';
  output += partyId + "}";
  return output
}

function getTypes(){
  var title = document.getElementById("party_name").value;
  var names = document.getElementsByClassName("inputTypeName");
  var urls = document.getElementsByClassName("inputTypeUrl");
  var types = [];
  for (var i = 0; i < names.length; i+=1) {
    var type = {"typeName": names[i].innerHTML,"url": urls[i].innerHTML};
    types.push(type);
  }

  var output = {"partyTitle":title ,"inputTypes":types,"isUpdate":isUpdate,"id":partyId }
  console.log(output);
  return output
}


function removeInputType(e){
  e.parentNode.remove();
}

function editType(e){
  var dt = e.parentNode;
  var child = dt.childNodes;
  var name = child[0].innerHTML
  var url = child[2].innerHTML
  document.getElementById("input_name").value = name;
  document.getElementById("input_url").value = url;

  e.parentNode.remove();
}


function loadUpdate(){
	checkvars();
  if(isUpdate) document.getElementById("delete_btn").style.visibility = "visible";
  
}

function checkvars(){
  var partyToken = getUrlVars()["partyToken"];
  if(partyToken){
    isUpdate = true;
    partyId = partyToken;
    getPartyInfo(partyToken);
  }
}

function getPartyInfo(id){
  var xhttp;
  xhttp = new XMLHttpRequest();

  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      updatePartyInfo(JSON.parse(this.responseText));
    }
  };
  xhttp.open("POST", "partyInfo", true);
  xhttp.send(id);
}

function updatePartyInfo(response){
  document.getElementById("party_name").value = response["party"][0]["title"];
  for(var i = 0; i < response["inputTypes"].length; i++){
    name = response["inputTypes"][i]["name"];
    url = response["inputTypes"][i]["url"];
    makeType(name, url);
  }
}

function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
        vars[key] = value;
    });
    return vars;
}


</script>

</body>
</html>

